<html>
<head>
    <title>Stone Recording</title>
    <link rel="stylesheet" href="site.css"></head>
    <script src="http://code.jquery.com/jquery-3.5.1.js"></script>
<body>
 
   <div id="map-popup" style="background: white">
        <img src="" usemap="" alt="" style="border-style:none" />
        <map name="">
        </map>
    </div>
    <form id="record-form" action="/submitstone" method="post">
        <div class="div-table-row">
            <div class="div-table-row">
                <div class="div-texttable-col" align="center"><label for="Site_No">Site no.</label>
                <input id="Site_No" type="text" value="" name="Site_No"/></div>
                <div class="div-texttable-col" align="center"><label for="Site_Name">Site Name</label>
                <input id="Site_Name" type="text" value="" name="Site_Name"/></div>
                <div class="div-texttable-col" align="center"><label for="County">County</label>
                <select id="County" name="County">
                    <option value="Cumbria">Cumbria</option>
                    <option value="Newcastle">Newcastle</option>
                    <option value="Northumberland">Northumberland</option>
                </select></div>
                <div class="div-texttable-col" align="center"><label for="Parish">Parish</label>
                <input id="Parish" type=text value="" name="Parish"/></div>
                <div class="div-texttable-col" align="center"><label for="OS_Grid_Ref">OS NGR</label>
                <input id="OS_Grid_Ref" type="text" value="" name="OS_Grid_Ref"></div>
                <div class="div-texttable-col" align="center"><label for="Monument_No">Monument No</label>
                <input id="Monument_No" type="text" value="" name="Monument_No"></div>
                <div class="div-texttable-col" align="center"><label for="Building_No">Building no</label>
                <input id="Building_No" type="text" value="" name="Building_No"></div>
            </div>
            <div class="div-table-row">
                <div class="div-texttable-col" align="center"><label for="Wall_Mile">Wall Mile</label>
                <input id="Wall_Mile" type=text value="" name="Wall_Mile"/></div>
                <div class="div-texttable-col" align="center"><label for="Surveyors">Surveyors</label>
                <input id="Surveyors" type="text" value="" name="Surveyors"></div>
                <div class="div-texttable-col" align="center"><label for="Checked_by">Checked By</label>
                <input id="Checked_by" type="text" value="" name="Checked_by"></div>
                <div class="div-texttable-col" align="center"><label for="Date_of_Structure">Date of Structure</label>
                <input id="Date_of_Structure" type="text" value="" name="Date_of_Structure"></div>
                <div class="div-texttable-col" align="center"><label for="HER_No">HER No</label>
                <input id="HER_No" type=text value="" name="HER_No"/></div>
                <div class="div-texttable-col" align="center"><label for="NMR_No">NMR No</label>
                <input id="NMR_No" type="text" value="" name="NMR_No"></div>
                <div class="div-texttable-col" align="center"><label for="Monument_No">Monument No</label>
                <input id="Monument_No" type="text" value="" name="Monument_No"></div>
                <br/>
                <!--input type="submit" value="Submit"/-->
                <pre class="response-text"></pre></div>
            </div>
        </div>
    </form>
    
    <form id="form2">
        <div class="div-table map-button-container">
            <div class="div-table-row">
                <div class="div-table-col double">Structure types</div>
                <div class="div-table-col double">Structural elements</div>
            </div>
            <div class="div-table-row">
                <div class="div-table-col" align="center"><img data-type="Forts_on_Wall_small" alt="Forts_on_Wall_small" src="images/buttons/Fort_button.jpg"></div>
                <div class="div-table-col" align="center">Fort</div>
                <div class="div-table-col" align="center"><img data-type="Churches_small" alt="Churches_small" src="images/buttons/Church_button.jpg"></div>
                <div class="div-table-col" align="center">Church</div>
                <div class="div-table-col" align="center"><img data-type="Foundations" alt="Foundations" src="images/buttons/Foundation_button.jpg"/></div>
                <div class="div-table-col" align="center">Foundation</div>
                <div class="div-table-col" align="center"><img data-type="Voussoirs" alt="Voussoirs" src="images/buttons/Voussoirs_button.jpg"></div>
                <div class="div-table-col" align="center">Voussoir label</div>
            </div>
            <div class="div-table-row">
                <div class="div-table-col" align="center"><img data-type="Milecastles_small" alt="Milecastles" src="images/buttons/Milecastle_button.jpg"></div>
                <div class="div-table-col" align="center">Milecastle</div>
                <div class="div-table-col" align="center"><img data-type="Castles_small" alt="Castles" src="images/buttons/Castle_button.jpg"></div>
                <div class="div-table-col" align="center">Castle</div>
                <div class="div-table-col" align="center"><img data-type="Footing" alt="Footing" src="images/buttons/Footing_button.jpg"></div>
                <div class="div-table-col" align="center">Footing</div>
                <div class="div-table-col" align="center"><img data-type="window_head" alt="Window Head" src="images/buttons/window_head_button.jpg"></div>
                <div class="div-table-col" align="center">Window Head </div>
             </div>
            <div class="div-table-row">
                <div class="div-table-col" align="center"><img data-type="Turrets_small" alt="Turrets" src="images/buttons/Turret_button.jpg"></div>
                <div class="div-table-col" align="center">Turret</div>
                <div class="div-table-col" align="center"><img data-type="Dwelling_small" alt="Dwelling" src="images/buttons/Dwelling_button.jpg"></div>
                <div class="div-table-col" align="center">Dwelling</div>
                <div class="div-table-col" align="center"><img data-type="Offset" alt="Offset" src="images/buttons/Offset_button.jpg"></div>
                <div class="div-table-col" align="center">Offset</div>
                <div class="div-table-col" align="center"><img data-type="Door_lining" alt="Door lining" src="images/buttons/door_lining_button.jpg"></div>
                <div class="div-table-col" align="center">Door lining</div>
            </div>
            <div class="div-table-row">
                <div class="div-table-col" align="center"><img data-type="Gateways_small" alt="Gateways" src="images/buttons/Gateway_button.jpg"></div>
                <div class="div-table-col" align="center">Gateway</div>
                <div class="div-table-col" align="center"><img data-type="Outbuilding_small" alt="Outbuilding" src="images/buttons/Outbuilding_button.jpg"></div>
                <div class="div-table-col" align="center">Outbuilding</div>
                <div class="div-table-col" align="center"><img data-type="ashlar" alt="ashlar" src="images/buttons/Ashlar_button.jpg"></div>
                <div class="div-table-col" align="center">Ashlar</div>
                <div class="div-table-col" align="center"><img data-type="columns" alt="columns" src="images/buttons/columns_button.jpg"></div>
                <div class="div-table-col" align="center">Column</div>
            </div>
            <div class="div-table-row">
                <div class="div-table-col" align="center"><img data-type="Curtain_Wall_small" alt="Curtain" src="images/buttons/Curtain_button.jpg"></div>
                <div class="div-table-col" align="center">Curtain wall</div>
                <div class="div-table-col" align="center"><img data-type="Boundary_small" alt="Boundary" src="images/buttons/Boundary_button.jpg"></div>
                <div class="div-table-col" align="center">Boundary</div>
                <div class="div-table-col" align="center"><img data-type="block_course" alt="block_course" src="images/buttons/Block_Course_button.jpg"></div>
                <div class="div-table-col" align="center">Black-in-course</div>
                <div class="div-table-col" align="center"><img data-type="housesteads_capital" alt="housesteads_capital" capital" src="images/buttons/Housesteads_capital_button.jpg"></div>
                <div class="div-table-col" align="center">Capital</div>
            </div>
            <div class="div-table-row">
                <div class="div-table-col" align="center"><img data-type="Bridges_small" alt="Bridges" src="images/buttons/Bridge_button.jpg"></div>
                <div class="div-table-col" align="center">Bridge</div>
                <div class="div-table-col" align="center"><img data-type="Other_small" alt="Other" src="images/buttons/Other_button.jpg"></div>
                <div class="div-table-col" align="center">Other</div>
                <div class="div-table-col" align="center"><img data-type="squared_rubble" alt="squared_rubble" src="images/buttons/Squared_rubble_button.jpg"></div>
                <div class="div-table-col" align="center">Squared rubble</div>
                <div class="div-table-col" align="center"><img data-type="string_course" alt="string_course" src="images/buttons/String_course_button.jpg"></div>
                <div class="div-table-col" align="center">String course</div>
            </div>
            <div class="div-table-row">
                <div class="div-table-col" align="center">&nbsp;</div>
                <div class="div-table-col" align="center">&nbsp;</div>
                <div class="div-table-col" align="center">&nbsp;</div>
                <div class="div-table-col" align="center">&nbsp;</div>
                <div class="div-table-col" align="center"><img data-type="coursed_rubble" alt="coursed_rubble" src="images/buttons/Coursed_rubble_button.jpg"></div>
                <div class="div-table-col" align="center">Coursed rubble</div>
                <div class="div-table-col" align="center"><img data-type="channel" alt="channel" src="images/buttons/Channel_button.jpg"></div>
                <div class="div-table-col" align="center">Water channel</div>
            </div>
        </div>
    </form>
 
    <script>
        function mapButtonClicked(btn) {
            map = btn.attr('data-type');
            $.ajax({
                url: "/maps", 
                type: "POST",
                dataType: "json",
                data: {"type": map},
                success: function (response) {
                    // <area shape="circle" coords="911,143,3" onclick="getStructure('9')" title="Wallsend (Segedunum)" />
                    popup = $("#map-popup");
                    popup.find("img").attr("src", response.image);
                    popup.find("img").attr("usemap", "#" + response.type);
                    map = popup.find("map");
                    //map.attr("id", response.type)
                    map.attr("name", response.type)
                    map.html("");
                    for (let coord of response.coords) {
                        // coord = {"shape": "circle", "coords": "911,143,3", "title": "Wallsend (Segedunum)", "struct": "9"}
                        map.append(
                            $("<area>").attr("shape", coord.shape).attr("coords", coord.coords).attr("title", coord.title)
                            .attr("onclick", "getStructure('" + coord.struct + "')")
                        );
                    }
                    // <area shape="default" nohref="nohref" onclick="alert('Click the black dots')" alt="" >
                    map.append(
                        $("<area>").attr("shape", "default").attr("nohref", "nohref").attr("alt", "")
                        .attr("onclick", "alert('Click the black dots')")
                        );
                    popup.show("slow");     
                },
                error: function (response) {

                }
            });
        }

        function getStructure(structNumber) {
            $.ajax({
                url: "/struct", 
                type: "POST",
                dataType: "json",
                data: {"struct": structNumber},
                success: function (response) {
                    $("#Site_No").val(response.Site_No);
                    $("#site-name").val(response.Site_Name);
                    $("#County").val(response.County);
                    $("#Parish").val(response.Parish);
                    $("#OS_Grid_Ref").val(response.OS_Grid_Ref);
                    $("#Monument_No").val(response.Monument_No);
                    $("#Building_No").val(response.Building_No);
                    $("#Wall_Mile").val(response.Wall_Mile);
                    $("#Surveyors").val(response.Surveyors);
                    $("#Checked_by").val(response.Checked_by);
                    $("#Date_of_Structure").val(response.Date_of_Structure);
                    $("#HER_No").val(response.HER_No);
                    $("#NMR_No").val(response.NMR_No);
                    $("#Monument_No").val(response.Monument_No);
                },
                error: function (response) {
                    console.log(response);
                }
            });
        }

        $(document).ready(function() {
            $("body").find(".map-button-container").each(function (index, container) {
                $(container).find("img").each(function (index, btn) {
                    $(btn).on("click", function () {
                        mapButtonClicked($(btn));
                    });
                });
            });

            $(window).click(function (e) {
                target = $(e.target);
                if (target.parents().attr("id") !== "map-popup" && !target.parents().parents().hasClass("map-button-container")) {
                    $("#map-popup").hide("slow");
                }
            });
        });
    </script>
</body>
</html>




<!--

     <div>
        <img src="images/maps/Forts_on_Wall_small.jpg" usemap="#Forts_on_Wall_small" alt="" style="border-style:none" />
        <map name="Forts_on_Wall_small">
            <area shape="circle" coords="336,138,4" onclick="getStructure('1')" title="Birdoswald (Banna)" />
            <area shape="circle" coords="368,139,3" onclick="getStructure('2')" title="Carvoran (Magna)" />
            <area shape="circle" coords="410,133,4" onclick="getStructure('3')" title="Great Chesters (Aesica)" />
            <area shape="circle" coords="462,137,3" onclick="getStructure('4')" title="Vindolanda (Chesterholm)" />
            <area shape="circle" coords="479,117,3" onclick="getStructure('5')" title="Housesteads (Vercovicium)" />
            <area shape="circle" coords="542,95,4" onclick="getStructure('6')" title="Carrawburgh (Brocolitia)" />
            <area shape="circle" coords="584,105,4" onclick="getStructure('7')" title="Chesters (Cilurnum" />
            <area shape="circle" coords="643,150,4" onclick="getStructure('8')" title="Corbridge (Coria)" />
            <area shape="circle" coords="911,143,3" onclick="getStructure('9')" title="Wallsend (Segedunum)" />
            <area shape="default" nohref="nohref" onclick="alert('Click the black dots')" alt="" >
        </map>
    </div>
 -->