<html>
<head>
    <title>Stone Recording</title>
    <link rel="stylesheet" href="site.css"></head>
    <script src="jquery-3.5.1.js"></script>
<body>
 
    <!-- STRUCTURE TYPES MAP POPUP -->
    <div id="map-popup" class="popup" style="background: white; border:2px solid black">
        <h1>Click on dot to make selection</h1>
        <img src="" usemap="" alt="" />
        <map name="">
        </map>
        <h3>Click outside this popup to cancel</h3>
    </div>

    <!-- STONE RECORDING POPUP -->
    #include("velocity/stone_recording.html")

    <!-- DWELLING POPUP -->
    #include("velocity/dwelling.html")

    <!-- BASE FORM -->
    #include("velocity/base_form.html")

    <!-- BUTTONS -->
    <!--// SELECT STRUCTURE TYPE AND STRUCTURE ELEMENTS-->
    #include("velocity/button_form.html")

    <script>
        // WHEN A BUTTON IS CLICKED IN THE PAGE DO THIS
        function mapButtonClicked(btn) {
            map = btn.attr('data-type');
            $.ajax({
                url: "/maps", 
                type: "POST",
                dataType: "json",
                data: {"type": map},
                success: function (response) {
                    popup = $("#map-popup");
                    popup.find("img").attr("src", response.image);
                    popup.find("img").attr("usemap", "#" + response.type);
                    map = popup.find("map");
                    map.attr("name", response.type)
                    map.html("");
                    // ADD COORDINATES
                    for (let coord of response.coords) {
                        map.append(
                            $("<area>").attr("shape", coord.shape).attr("coords", coord.coords).attr("title", coord.title)
                            .attr("onclick", "getStructure('" + coord.struct + "')")
                        );
                    }
                    // ADD DEFAULT SELECTION
                    map.append(
                        $("<area>").attr("shape", "default").attr("nohref", "nohref").attr("alt", "")
                        .attr("onclick", "alert('Click the black dots')")
                        );
                    popup.show("slow");     
                },
                error: function (response) {

                }
            });
        }

        // POPULATE FORM WITH SERVER RESPONSE TO SELECTING POINT ON MAP
        function getStructure(structNumber) {
            $.ajax({
                url: "/struct", 
                type: "POST",
                dataType: "json",
                data: {"struct": structNumber},
                success: function (response) {
                    $("#Site_No1").val(response.Site_No);
                    $("#Site_Name1").val(response.Site_Name);
                    $("#County").val(response.County);
                    $("#Parish").val(response.Parish);
                    $("#OS_Grid_Ref").val(response.OS_Grid_Ref);
                    $("#Monument_No").val(response.Monument_No);
                    $("#Building_No").val(response.Building_No);
                    $("#Wall_Mile").val(response.Wall_Mile);
                    $("#Surveyors").val(response.Surveyors);
                    $("#Checked_by").val(response.Checked_by);
                    $("#Date_of_Structure").val(response.Date_of_Structure);
                    $("#HER_No").val(response.HER_No);
                    $("#NMR_No").val(response.NMR_No);
                    $("#Monument_No").val(response.Monument_No);

                    $("body").find(".popup").hide("slow");
                },
                error: function (response) {
                    console.log(response);
                }
            });
        }

        function enterElement(btn) {
            popup = $("#element_popup");
            structural_element = btn.attr('data-type');
            $("#Site_No").val($("#Site_No1").val());
            $("#Element").val(structural_element);
            popup.show("slow");
        }

        // SHOW THE DWELLING POPUP
        function selectDwelling(btn) {
            popup = $("#dwelling_popup");
            popup.show("slow");
        }

        // ONCE THE DOCUMENT IS FULLY LOADED
        $(document).ready(function() {
            /* SAMPLE CODE
            $("body").find(".map-button-container").each(function (index, container) {
                $(container).find("img").each(function (index, btn) {
                    $(btn).on("click", function () {
                        mapButtonClicked($(btn));
                    });
                });
            });*/
            // A BUTTON IN THE STRUCTURE TYPES SECTION WAS CLICKED
            $("body").find(".structure_type_button").each(function (index, button) {
                $(button).on("click", function () {
                    mapButtonClicked($(button));
                });
            });
            // THE DWELLING TYPE BUTTON WAS CLICKED
            $("body").find(".dwelling_type_button").each(function (index, button) {
                $(button).on("click", function () {
                    selectDwelling($(button));
                });
            });
            // A BUTTON IN THE STRUCTURAL ELEMENTS SECTION WAS CLICKED
            $("body").find(".structure_element_button").each(function (index, button) {
                $(button).on("click", function () {
                    if ($("#Site_No1").val()=="") {
                        alert("First select a structure");
                    } else {
                        enterElement($(button));
                    }
                });
            });
            // CLOSE THE POPUP DIV WHEN CLICKED OUTSIDE OF IT
            $(window).click(function (e) {
                target = $(e.target);
                if (!target.parents().hasClass("popup") && !target.parents().hasClass("div-table-col-100")) {
                    $("body").find(".popup").hide("slow");
                }
            });
        });
    </script>
</body>
</html>




