<html>
<head>
    <title>Stone Recording</title>
    <link rel="stylesheet" href="site.css"></head>
    <script src="jquery-3.5.1.js"></script>
<body>
    <div class="buttonwrapper">
        <a class="squarebutton help_button" data-value="Site_Data_Help"><span>Help </span></a>
    </div><br/>

    <!-- HELP POPUP -->
    <div id="help_popup" class="popup" style="background: white; border:2px solid black; width:1024px; height: 768px; z-index: 2">
        <button class="help_close_button" onclick="closeHelp()">close</button>
        <div id="help_container"></div>
        <button class="help_close_button" onclick="closeHelp()">close</button>
    </div>

    <!-- STRUCTURE TYPES MAP POPUP -->
    <div id="map-popup" class="popup" style="background: white; border:2px solid black">
        <h1>Click on dot to make selection</h1>
        <img src="" usemap="" alt="" />
        <map name="">
        </map>
        <h3>Click outside this popup to cancel</h3>
    </div>

    <!-- STONE RECORDING POPUP -->
    #include("velocity/stone_recording.html")

    <!-- DWELLING POPUP -->
    #include("velocity/dwelling.html")

    <!-- TOOLING POPUP -->
    #include("velocity/tooling.html")

    <!-- BASE FORM -->
    #include("velocity/base_form.html")

    <!-- UPLOAD BUTTON -->
    <div class="buttonwrapper">
        <a class="squarebutton help_button" href="/upload.html"><span>Upload Image</span></a>
    </div><br/>

    <!-- BUTTONS -->
    <!--// SELECT STRUCTURE TYPE AND STRUCTURE ELEMENTS-->
    #include("velocity/button_form.html")

    <div class="reference_container">

    </div>

    <script>
        // LOAD THE SELECTED IMAGE INTO THE DIV
        function uploadImage() {
            try {
                var filename = $("#filenames").val();
                var img = document.createElement("img");
                img.width = 100;
                img.height = 100;
                img.src = filename;
                let fossilDiv = $("#fossil_div");
                fossilDiv.html("");
                fossilDiv.append(img);
            } catch (error) {
                alert("Select a file first.");
            }
        }
     
        // CLOSE HELP POPUP
        function closeHelp() {
            $("#help_popup").hide("slow");
        }

        // CLOSE STONE RECORDING POPUP
        function closePopup() {
            $("#element_popup").hide("slow");
        }

        // WHEN A BUTTON IS CLICKED IN THE PAGE DO THIS
        function mapButtonClicked(btn) {
            $("body").find(".popup").each(function (index, popup) { $(popup).hide("slow"); });
            map = btn.attr('data-type');
            $.ajax({
                url: "/maps", 
                type: "POST",
                dataType: "json",
                data: {"type": map},
                success: function (response) {
                    popup = $("#map-popup");
                    popup.find("img").attr("src", response.image);
                    popup.find("img").attr("usemap", "#" + response.type);
                    map = popup.find("map");
                    map.attr("name", response.type)
                    map.html("");
                    // ADD COORDINATES
                    for (let coord of response.coords) {
                        map.append(
                            $("<area>").attr("shape", coord.shape).attr("coords", coord.coords).attr("title", coord.title)
                            .attr("onclick", "getStructure('" + coord.struct + "')")
                        );
                    }
                    // ADD DEFAULT SELECTION
                    map.append(
                        $("<area>").attr("shape", "default").attr("nohref", "nohref").attr("alt", "")
                        .attr("onclick", "alert('Click the black dots')")
                        );
                    popup.show("slow");     
                },
                error: function (response) {

                }
            });
        }

        // POPULATE FORM WITH SERVER RESPONSE TO SELECTING POINT ON MAP
        function getStructure(structNumber) {
            $.ajax({
                url: "/struct", 
                type: "POST",
                dataType: "json",
                data: {"struct": structNumber},
                success: function (response) {
                    $("#Site_No1").val(response.Site_No);
                    $("#Site_Name1").val(response.Site_Name);
                    $("#County").val(response.County);
                    $("#Parish").val(response.Parish);
                    $("#OS_Grid_Ref").val(response.OS_Grid_Ref);
                    $("#Monument_No").val(response.Monument_No);
                    $("#Building_No").val(response.Building_No);
                    $("#Wall_Mile").val(response.Wall_Mile);
                    $("#Surveyors").val(response.Surveyors);
                    $("#Checked_by").val(response.Checked_by);
                    $("#Date_of_Structure").val(response.Date_of_Structure);
                    $("#HER_No").val(response.HER_No);
                    $("#NMR_No").val(response.NMR_No);
                    $("#Monument_No").val(response.Monument_No);

                    console.log(response);
                    for (let imageName of response.ReferenceImages) {
                        $("body").find(".reference_container").append(
                            $('<img src="' + imageName + '" alt="image not found"></img>')
                        );
                    }

                    $("body").find(".popup").hide("slow");
                },
                error: function (response) {
                    console.log(response);
                }
            });
        }

        function enterElement(btn) {
            popup = $("#element_popup");
            structural_element = btn.attr('data-type');
            $("#Site_No").val($("#Site_No1").val());
            $("#Element").val(structural_element);
            popup.show("slow");
            //AJAX CALL FOR POPULATING FOSSIL PHOTO FILENAMES
            $.ajax({
                url: "/getFileNames", 
                type: "POST",
                dataType: "json",
                data: {},
                success: function (response) {  
                    let select = $("#filenames");     
                    for (let fileobject of response.FileNames) {
                        let option = new Option(fileobject.FileName, fileobject.FileName);
                        select.append(option);
                    }
                },
                error: function (response) {

                }
            });
        }

        // SHOW THE DWELLING POPUP
        function selectDwelling(btn) {
            popup = $("#dwelling_popup");
            popup.show("slow");
        }

        // SHOW THE TOOLING POPUP
        function selectTooling() {
            popup = $("#tooling_popup");
            popup.show("slow");
        }

        // SET MAIN TOOLING TYPE INPUT FIELD
        function setTooling(btn) {
            let textbox = $("#Tooling");
            console.log(btn);
            textbox.val(btn.attr("data-type").replaceAll('_', ' ').toLowerCase());
            popup = $("#tooling_popup");
            popup.hide("slow");
        }

        // ONCE THE DOCUMENT IS FULLY LOADED
        $(document).ready(function() {
            /* SAMPLE CODE
            $("body").find(".map-button-container").each(function (index, container) {
                $(container).find("img").each(function (index, btn) {
                    $(btn).on("click", function () {
                        mapButtonClicked($(btn));
                    });
                });
            });*/
            // on click STEP 1
            // A HELP BUTTON WAS CLICKED
            $("body").find(".help_button").each(function(index, button) {
                $(button).on("click", function() {
                    $.ajax({
                        url: "/fetchHelp",
                        type: "POST",
                        dataType: "html",
                        //data: {"struct": structNumber},
                        data: {"value": $(button).attr("data-value")},
                        success: function (response) {
                            // SHOW HELP
                            console.log(response);
                            $("#help_container").html(response);
                            $("#help_popup").show("slow");
                        },
                        error: function (response) {
                            console.error("Error Response");
                            console.log(response);
                        }
                    })
                });
            });
            // A BUTTON IN THE STRUCTURE TYPES SECTION WAS CLICKED
            $("body").find(".structure_type_button").each(function (index, button) {
                $(button).on("click", function () {
                    mapButtonClicked($(button));
                });
            });
            // THE DWELLING TYPE BUTTON WAS CLICKED
            $("body").find(".dwelling_type_button").each(function (index, button) {
                $(button).on("click", function () {
                    selectDwelling($(button));
                });
            });
            // THE TOOLING TYPE BUTTON WAS CLICKED
            $("body").find(".tooling_type_button").each(function (index, button) {
                $(button).on("click", function () {
                    setTooling($(button));
                });
            });

            // A BUTTON IN THE STRUCTURAL ELEMENTS SECTION WAS CLICKED
            $("body").find(".structure_element_button").each(function (index, button) {
                $(button).on("click", function () {
                    if ($("#Site_No1").val()=="") {
                        alert("First select a structure");
                    } else {
                        enterElement($(button));
                    }
                });
            });
 
            // CLOSE THE POPUP DIV WHEN CLICKED OUTSIDE OF IT
            $(window).click(function (e) {
                target = $(e.target);
                if (!target.parents().hasClass("popup") && !target.parents().hasClass("div-table-col-100") 
                && !target.parents().hasClass("help_button") && !$("#help_popup").is(":visible")) {
                    $("body").find(".popup").hide("slow");
                }
            });
        });
    </script>
</body>
</html>




